<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    
    <!--UPS相关的的配置-->
    <add key="UPS_URL_RATE" value="https://onlinetools.ups.com"/>
    <!--<add key="UPS_URL_RATE" value="https://wwwcie.ups.com"/>-->
    <!--<add key="UPS_URL" value="https://onlinetools.ups.com"/>-->
    <add key="UPS_UserName" value="geniuskaka"/>
    <add key="UPS_Password" value="Kaka890704"/>
    <add key="UPS_Token" value="1D324C535EE5A1AC"/>
    <add key="UPS_AccountNumber" value="V62044"/>
    
  </appSettings>
</configuration>