<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--UPS相关的的配置-->
    <add key="UPS_URL_RATE" value="https://wwwcie.ups.com"/>
    <!--<add key="UPS_URL" value="https://onlinetools.ups.com"/>-->
    <add key="UPS_UserName" value="genius*****"/>
    <add key="UPS_Password" value="Kaka*******"/>
    <add key="UPS_Token" value="1D324C53*********C"/>
    <add key="UPS_AccountNumber" value="V6****"/>
  </appSettings>
</configuration>